<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img class="logo-image" src="../../../assets/circle.png" alt="Card image cap">
      </a>
      <button type="button" class="btn btn-outline-warning">Acessar</button>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container d-flex justify-content-between">
      <div class="collapse navbar-collapse text-uppercase" >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Novidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Eletrônicos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Beleza</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white bg-white" href="#">Casa</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>
</header>