<swiper [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="../../../assets/hero-tapete.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="../../../assets/hero-tapete.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="../../../assets/hero-tapete.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="../../../assets/hero-tapete.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="../../../assets/hero-tapete.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="../../../assets/hero-tapete.jpg" />
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>




